$getstart1: #c14e34;
$getstart2: #c14e34;
$getstart3: #c14e34;

body {
  margin: 0;
  padding: 0;
}

.login-wrapper {
  height: 100vh;
  background-color: aquamarine;
  opacity: 1;
}



.App{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-input {
  padding-bottom: 2px; // Create space below the input box
}

.reset-button {
  margin-top: 10px; // Create space above the button
}


