$getstart1: #c14e34;
$getstart2: #c14e34;
$getstart3: #c14e34;

body {
  margin: 0;
  padding: 0;
}

.login-wrapper {
  background-color: white !important;
  height: 100vh;
  .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-family: system-ui;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
  }

  .sub-heading {
    margin-top: -20px;
    font-family: system-ui;
  }
}